.App {
  text-align: center;
  /* width: 85%; */
  margin: auto;
  /* font-family: Muli, sans-serif; */
  font-family: "Muli" "sans-serif";
  font-style: normal;
  color: "rgb(186,186,186)";
}

.App {
  /* media queries */
  @media (max-width: 767px) {
    text-align: center;
  }
  @media (max-width: 400px) {
    text-align: left;
  }
}
